body {background-color: pink;}

.rojoletra {color:red;
font-size:50px;
text-decoration: underline;}

 .parrafo {color: green;
    text-decoration: underline;}
.parrafoss {text-align:center;}
